.heroSection {
  height: 750px;
  width: 100%;
  background-image: url("/worldImage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .heroSectionText{
    .heroText {
      color: white;
      font-family: "Open sans", sans-serif;
      font-weight: 700;
      font-size: 48px;
    }
  }
}

.factListSection{
  display: flex;
  align-items: center;
  justify-content: center;

  .factList{
    margin-top: 125px;
    list-style: none;
    width: 800px;
    text-align: center;

    & > .factListItem + .factListItem {
      margin-top: 4rem;
    }

      .factListItem{
      font-size: 40px;
      font-family: 'Open sans', sans-serif;
      font-weight: 500;
      color: #000;


      .highlights{
        color: #0E9AC0;
      }
    }
  }
}

.employeeBox{
  display: flex;
  align-items: center;
  margin-top: 125px;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 132.5px;

  .imgCover{
    width: 1025px;
    height: 681px;
    position: relative;

    .meetTalentLink{
      object-fit: contain;
    }
  }

  .meetTalentLink {
    padding: 12.5px 20px;
    border-radius: 30px;
    border: 2px solid black;
    font-family: 'Open sans', sans-serif;
    font-size: 20px;
    font-weight: 700px;
    color: #000;
    text-decoration: none;
  }
}

.randomFactsSection{
  display: flex;
  justify-content: center;
  align-items: center;

  .mainImage{
    width: 100%;
    height: auto;
  }
}

.paradigmShift{
  margin: 10rem auto;
  display: flex;
  justify-content: left;
  padding: 0 22rem;
  align-items: center;

  .paradigmShiftWrapper{
    position: relative;
    
    .mainBox{
      padding: 67px 99px 66px 62px;
      width: 570px;
      background-color:#F3FAFC;

      .mainBoxHeader{
        font-weight: 700;
        font-family: 'Open sans', sans-serif;
        font-size: 48px;
        margin-bottom: 80px;
      }
      
      .mainBoxMainDesc{
        gap: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 80px;

        .mainBoxInner{
          display: flex;
          align-items: center;
          justify-content: center;

          .iconCover{
            width: 79px;
            height: 79px;
            margin-right: 30px;
            position: relative;
          }

          .icon{
            object-fit: contain;
          }

          .mainBoxInnerText{
            font-size: 20px;
            font-family: 'Open sans', sans-serif;
            font-weight: 600;
          }
        }
      }
    }

    .joinUSBtn {
      padding: 12.5px 20px;
      background-color: #0E9AC0;
      border-radius: 30px;
      font-family: 'Open sans', sans-serif;
      font-weight: 600;
      text-decoration: none;
      color: #fff;
    }

    .imageCover{
      position: absolute;
      right: -80%;
      top: 25%;
      width: 534px;
      height: 422px;
    }

    .peopleImage{
      object-fit: contain;
    }
  }
}